.toggle {
    display: none;
}
.topnav {
    background-color: var(--yellow-bg);
    margin: 0;
}
.topnav label:hover,
.topnav label:checked {
    color: var(--red-bg);
}
.topmenu {
    display: flex;
    flex-flow: column;
    margin: 0;
    position: fixed;
    width: 90%;
    top: 3.5rem;
    right: -80rem;
    z-index: 9;
    background-color: var(--yellow-bg);
    transition: all 2s ease;
}
.topmenu a {
    display: block;
    text-align: center;
    padding: .5rem 1rem;
    text-decoration: none;
    color: var(--nc-tx-2);
    border-bottom: 1px solid var(--nc-lk-1);
}
.topmenu label {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0 .3rem;
    font-size: 1.5rem;
    border: 1px solid var(--nc-tx-2);
}
.topnav label:hover,
.topnav label:active {
    background-color: var(--red-bg);
}
.topmenu section {
    margin: 0;
}
.sociealbutts {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    
}
.sociealbutts a {
    padding: .5rem 1rem;
    border: 0;
}
#toggle:checked ~ .topmenu {
    right: 1rem;
    transition: all .5s ease;
}
.topnav input {
    width: 0;
    height: 0;
}
.topnav label {
    position: fixed;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
}
@media screen and (min-width:60rem){
    .topmenu {
        position: relative;
        width: 100%;
        top: 0;
        right: 0;
        flex-flow: row;
        justify-content: flex-end;
    }
    .topmenu a:link {
        padding: .5rem 1rem;
        border: 0;
    }
    .labelmenu {
        display: none;
    } 
    .topnav label,
    .topnav input{
        display: none;
    }
}
@media screen and (min-width:80rem) {
    
}